/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/(home-page)/home-page.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (min-width: 1024px) {
  .home-page_homePageContainer__H43bd {
    max-width: 39.5rem;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/explainer/explainer.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.explainer_heading__UWdpi {
  margin-top: 2.5rem;
}
@media (min-width: 1024px) {
  .explainer_heading__UWdpi {
    margin-top: 3.75rem;
  }
}

.explainer_subheading__9v5Wa {
  margin-top: 1rem;
}

.explainer_sentence__8P1Ly {
  margin-top: 0.5rem;
}

.explainer_bullets__9RI1w {
  padding-left: 1rem;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/text-box/text-box.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-box_container__OH6ZG {
  background-color: #FFFFFF;
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .text-box_container__OH6ZG {
    max-width: 39.5rem;
  }
}
.text-box_containerCaution__lbQUm {
  margin-top: 1.5rem;
}

.text-box_heading__HbplC {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #235DCD;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}
.text-box_headingCaution__PnfWO {
  background-color: #FFEB3B;
  color: #0B0C0C;
}

.text-box_contentContainer__GMvxI {
  padding: 1rem;
  border: 1px solid #D8DDE0;
}
@media (min-width: 1024px) {
  .text-box_contentContainer__GMvxI {
    padding: 2rem;
  }
}

.text-box_sentence__RSuzp {
  margin-top: 0.5rem;
}

.text-box_bullets__kzODp {
  padding-left: 1rem;
}

.text-box_link__FVW_G {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: inline-block;
  box-shadow: 0 4px 0 0 #0B0C0C;
  background-color: #00662F;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.text-box_link__FVW_G:hover {
  background-color: #003318;
  color: #FFFFFF;
}
.text-box_link__FVW_G:focus {
  background-color: #FFEB3B;
  color: #0B0C0C;
  outline: none;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/back-to-top/back-to-top.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.back-to-top_link__lEMz2 {
  color: #235DCD;
  display: inline-block;
  margin-top: 2.5rem;
}
