@use "../styles/breakpoints";
@use "../styles/colours";

.heading,
.text {
    margin-top: 1rem;
}

.text {
    @media (min-width: breakpoints.$large) {
        max-width: 39.5rem;
    }
}

.textFaded {
    color: colours.$grey-3;
}

.warning {
    font-weight: 700;
}

.bullets {
    padding-left: 1rem;
}