/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/references-accordion/references-accordion.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.references-accordion_container__HP3rj {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
  border: 1px solid #D8DDE0;
}
@media (min-width: 1024px) {
  .references-accordion_container__HP3rj {
    max-width: 39.5rem;
  }
}

.references-accordion_heading__DKpkh {
  color: #005EB8;
  text-decoration: underline;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: relative;
  right: 7px;
  cursor: pointer;
}

.references-accordion_bullets__6TcCo {
  padding-left: 1rem;
}

.references-accordion_text__f1neA {
  margin-top: 0.625rem;
}

.references-accordion_citation__d7k2r {
  font-style: normal;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/back/back.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.back_container__aUSX7 {
  display: inline-flex;
  flex-direction: row;
  margin-top: 1.5rem;
}
.back_container__aUSX7:hover path {
  fill: #0E244F;
}
.back_container__aUSX7:focus path {
  fill: #0B0C0C;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/back-to-top/back-to-top.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.back-to-top_link__lEMz2 {
  color: #235DCD;
  display: inline-block;
  margin-top: 2.5rem;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/entered-medicines/entered-medicines.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.entered-medicines_mobileOnly__SDP6w {
  display: block;
}
@media (min-width: 1024px) {
  .entered-medicines_mobileOnly__SDP6w {
    display: none;
  }
}

.entered-medicines_desktopOnly__3thEU {
  display: none;
}
@media (min-width: 1024px) {
  .entered-medicines_desktopOnly__3thEU {
    display: block;
  }
}

.entered-medicines_heading___gyvY {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .entered-medicines_heading___gyvY {
    margin-top: 0;
    background-color: #235DCD;
    color: #FFFFFF;
    padding: 1rem;
    border: 1px solid #D8DDE0;
  }
}

.entered-medicines_text__kY1yX {
  margin-top: 0.5rem;
}

.entered-medicines_medicineContainer__rVmzM {
  background-color: #FFFFFF;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #D8DDE0;
}
@media (min-width: 1024px) {
  .entered-medicines_medicineContainer__rVmzM {
    margin: 0;
    border-bottom: none;
    border-top: none;
    display: grid;
    grid-template-columns: 42.5rem 17.5rem;
  }
}

.entered-medicines_headingsContainer__HMoqj {
  display: grid;
  grid-template-columns: 42.5rem 17.5rem;
  margin-top: 1rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/options/options.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.options_overallContainer__AbfWQ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .options_overallContainer__AbfWQ {
    flex-direction: row;
  }
}

.options_timeContainer__cBMOs {
  border: 1px solid #D8DDE0;
  background-color: #FFFFFF;
}
@media (min-width: 1024px) {
  .options_timeContainer__cBMOs {
    width: 15rem;
  }
}
@media (min-width: 1024px) {
  .options_timeContainerWide__qncfw {
    width: 33.75rem;
  }
}

.options_heading__6xHsu {
  background-color: #235DCD;
  color: #FFFFFF;
  padding: 1rem;
}

.options_text__X_Lk3 {
  background-color: #FFFFFF;
  padding: 1rem;
}

.options_hideOnMobile__fSmZy {
  display: none;
}
@media (min-width: 1024px) {
  .options_hideOnMobile__fSmZy {
    display: block;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/text-box/text-box.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.text-box_container__OH6ZG {
  background-color: #FFFFFF;
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .text-box_container__OH6ZG {
    max-width: 39.5rem;
  }
}
.text-box_containerCaution__lbQUm {
  margin-top: 1.5rem;
}

.text-box_heading__HbplC {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #235DCD;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 1.8125rem;
}
.text-box_headingCaution__PnfWO {
  background-color: #FFEB3B;
  color: #0B0C0C;
}

.text-box_contentContainer__GMvxI {
  padding: 1rem;
  border: 1px solid #D8DDE0;
}
@media (min-width: 1024px) {
  .text-box_contentContainer__GMvxI {
    padding: 2rem;
  }
}

.text-box_sentence__RSuzp {
  margin-top: 0.5rem;
}

.text-box_bullets__kzODp {
  padding-left: 1rem;
}

.text-box_link__FVW_G {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  display: inline-block;
  box-shadow: 0 4px 0 0 #0B0C0C;
  background-color: #00662F;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.text-box_link__FVW_G:hover {
  background-color: #003318;
  color: #FFFFFF;
}
.text-box_link__FVW_G:focus {
  background-color: #FFEB3B;
  color: #0B0C0C;
  outline: none;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/results/results-page.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.results-page_heading__xBz1m,
.results-page_text__AiNzS {
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .results-page_text__AiNzS {
    max-width: 39.5rem;
  }
}

.results-page_textFaded__tCF5a {
  color: #565E5E;
}

.results-page_bullets__CHZdP {
  padding-left: 1rem;
}
