@use "styles/breakpoints";
@use "styles/colours";
@use "styles/links";
@use "styles/typography";
@use "styles/print";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  background-color: colours.$grey-2;
}

main {
  max-width: 91.5vw;
  margin: 0 auto 2.5rem auto;

  @media (min-width: breakpoints.$large) {
    max-width: 60rem;
  }
}

/*to prevent fixed header overlapping main content*/
main::before {
  content: '';
  display: block;
  height: 127px;
}

.hide {
  display: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}