//blacks
$black-1: #0B0C0C;

//whites
$white: #FFFFFF;

//greys
$grey-1: #D8DDE0;
$grey-2: #F0F4F5;
$grey-3: #565E5E;

//blues
$blue-1: #235DCD;
$blue-2: #005EB8;

//greens
$green-1: #00662F;
$green-2: #003318;

//yellows
$yellow-1: #FFEB3B;

//reds