@use "./colours";

a {
    color: colours.$blue-2;

    &:hover {
        color: colours.$black-2;
    }

    &:focus {
        background-color: colours.$yellow-1;
        color: colours.$black-1;
        outline: none;
        box-shadow: 0 4px 0 0 colours.$black-1;
    }
}