@use "../../styles/breakpoints";
@use "../../styles/colours";

.container {
    background-color: colours.$white;
    margin-top: 1rem;

    &Caution {
        margin-top: 1.5rem;
    }
}


.heading {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: colours.$blue-1;
    color: colours.$white;
    font-size: 1.5rem;
    line-height: 1.8125rem;

    &Caution {
        background-color: colours.$yellow-1;
        color: colours.$black-1;
    }
}

.contentContainer {
    padding: 1rem;
    border: 1px solid colours.$grey-1;

    @media (min-width: breakpoints.$large) {
        padding: 2rem;
    }
}


.sentence {
    margin-top: 0.5rem;
}

.bullets {
    padding-left: 1rem;
}

.link {
    margin-top: 1.5rem;
    padding: 1rem 1.5rem;
    display: inline-block;
    box-shadow: 0 4px 0 0 colours.$black-1;
    background-color: colours.$green-1;
    color: colours.$white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.125rem;

    &:hover {
        background-color: colours.$green-2;
        color: colours.$white;
    }

    &:focus {
        background-color: colours.$yellow-1;
        color: colours.$black-1;
        outline: none;
    }
}