@use "../../styles/colours";
@use "../../styles/breakpoints";

.footer {
    background-color: colours.$grey-1;
    width: 100vw;
    padding: 0.5rem 1rem;

    @media (min-width: breakpoints.$large) {
        padding-left: 0;
        padding-right: 0;
    }
}

/*to fix footer to bottom of page only on the calculator page*/
[data-page="calculator"]+.footer {
    position: fixed;
    bottom: 0;
}

.footerText {
    color: colours.$grey-3;

    @media (min-width: breakpoints.$large) {
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}