@use "../../styles/colours";
@use "../../styles/breakpoints";

.header {
    background-color: colours.$blue-1;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1rem 0 1rem 1rem;

    @media (min-width: breakpoints.$large) {
        padding-left: 8.125rem;
    }
}