/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
a {
  color: #005EB8;
}
a:hover {
  color: #0E244F;
}
a:focus {
  background-color: #FFEB3B;
  color: #0B0C0C;
  outline: none;
  box-shadow: 0 4px 0 0 #0B0C0C;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Arial", sans-seriff;
  font-weight: 700;
  color: #0B0C0C;
}

h1,
.h1 {
  font-size: 2rem;
  line-height: 2.375rem;
}
@media (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 4rem;
    line-height: 4.75rem;
  }
}

h2,
.h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}
@media (min-width: 1024px) {
  h2,
  .h2 {
    font-size: 3rem;
    line-height: 3.625rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
@media (min-width: 1024px) {
  h3,
  .h3 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
@media (min-width: 1024px) {
  h4,
  .h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
@media (min-width: 1024px) {
  h5,
  .h5 {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.3125rem;
}
@media (min-width: 1024px) {
  h6,
  .h6 {
    font-size: 1.1875rem;
    line-height: 1.4375rem;
  }
}

p,
.p,
a {
  font-family: "Arial", sans-seriff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 1024px) {
  p,
  .p,
  a {
    font-size: 1.1875rem;
    line-height: 1.4375rem;
  }
}

p,
.p {
  color: #0B0C0C;
}

a {
  color: #005EB8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  background-color: #F0F4F5;
}

main {
  max-width: 91.5vw;
  margin: 0 auto 2.5rem auto;
}
@media (min-width: 1024px) {
  main {
    max-width: 60rem;
  }
}

/*to prevent fixed header overlapping main content*/
main::before {
  content: "";
  display: block;
  height: 58px;
}

.hide {
  display: none;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/global-header/global-header.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.global-header_header__Aifq_ {
  background-color: #235DCD;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1rem 0 1rem 1rem;
}
@media (min-width: 1024px) {
  .global-header_header__Aifq_ {
    padding-left: 8.125rem;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/global-footer/global-footer.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.global-footer_footer__3XQVv {
  background-color: #D8DDE0;
  width: 100vw;
  padding: 0.5rem 1rem;
}
@media (min-width: 1024px) {
  .global-footer_footer__3XQVv {
    padding-left: 0;
    padding-right: 0;
  }
}

.global-footer_footerText__fa9W0 {
  color: #565E5E;
}
@media (min-width: 1024px) {
  .global-footer_footerText__fa9W0 {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}
